.footer {
  padding: 60px 0;
  background-color: $bg-color-footer;
}
.footer-container {
  display: flex;
  text-align: left;
  align-items: baseline;
}
.address-footer {
  margin-right: 70px;
}
.address-list {
  &__text {
    margin: 0;
  }

  &__item {
    color: $p-color-address;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__link {
    color: $link-color-address;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.address-list__item + .address-list__item {
  margin-top: 9px;
}
.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color-logo-footer;
}
