.projects {
  padding-top: 0;
}

.projects-list {
  display: flex;
  flex-wrap: nowrap;
}
.projects-list__item + .projects-list__item {
  margin-left: 30px;
}
.card {
  position: relative;
  box-sizing: border-box;
  width: 370px;
  height: 294px;

  &__img {
    object-fit: cover;
  }
  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100%;
    min-height: 70px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color-hover;
    background: rgba(47, 48, 58, 0.8);
    box-sizing: border-box;
  }
}
