body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.17;
  color: $text-color-p;
  background-color: $bg-color-main;
}

.container {
  //max-width: 1200px;
  //min-width: 320px;
  width: 100%;

  margin: 0 auto;
  padding: 0 15px;

  text-align: center;

  //outline: 1px solid tomato;

  @media screen and (min-width: 480px) {
    max-width: 450px;
    flex-basis: calc(100%-30px);
  }
  @media screen and (min-width: 768px) {
    max-width: 738px;
    flex-basis: calc(100%-30px);
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section {
  //margin-top: 0;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $text-color-h;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
}
