$accent-color: #2196f3;
$text-color-p: #757575;
$text-color-h: #212121;
$text-color-logo: #000000;
$text-color-hover: #ffffff;
$text-color-logo-footer: #ffffff;
$form-color-placeholder: rgba(117, 117, 117, 0.5);
$bg-color-main: #ffffff;
$bg-color-card: #ffffff;
$bg-color-header: #ffffff;
$bg-overlay-accent: rgba(33, 150, 243, 0.9);
$hero-title-color: #ffffff;
$btn-text-color: #ffffff;
$social-color-hover: #ffffff;
$social-color: #afb1b8;
$bg-color-hero: #2f303a;
$bg-color-footer: #2f303a;
$line-color: #ececec;
$bg-section-team: #f5f4fa;
$link-color-address: rgba(255, 255, 255, 0.6);
$p-color-address: #ffffff;
$bg-hover-button: #188ce8;
$bg-social-icon-footer: rgba(255, 255, 255, 0.1);
